<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="navbar-text">
            &copy; Copyright 2024. All rights reserved.
        </h6>
        <div class="ml-auto">
            <a href="https://github.com/yourusername" target="_blank" class="text-white mx-3">GitHub</a>
            <a href="https://www.linkedin.com/in/tala-bashanfar-981896336/" target="_blank" class="text-white">LinkedIn</a>
        </div>
    </nav>
</footer>
</body>
</html>