<%- include('Partials/header'); -%>
<%- include('Partials/main_nav'); -%>
<section id="about" class="section-one text-center py-5">
    <div class="display-4 font-weight-bold">ABOUT <span class="text-primary">ME</span></div>
    <img src="/Assests/images/Untitled-design.png" alt="My Picture" class="img-fluid rounded-circle my-4" class="w-75" style="max-width: 300px; margin-top: 20px;" />
    <span class="h4 d-block mb-3">Tech Management</span>
    <p class="lead" style="padding: 0 30px;"> 
        Hi, I'm Tala Bashanfar, a Tech Strategist, IT Project Manager, and Innovation Enthusiast. Currently pursuing my degree in
        Technology Management at Ontario Tech University, I focus on leveraging technology to drive business growth and streamline
        operations. My passion lies in managing IT projects and leading digital transformations that foster innovation and efficiency. 
        I thrive on finding creative solutions to complex challenges, always staying ahead of emerging tech trends. Explore my 
        portfolio to see how I merge strategic thinking with a love for technology. Welcome to my portfolio!
    </p>
    
    <video controls autoplay muted loop id="myVideo" class="w-75" style="max-width: 400px;">
        <source src="/Assests/video/1727387135169585.mp4" type="video/mp4">
        <source src="/Assests/video/1727387135169585.ogv" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    
    <br>
    
    <button class="btn btn-outline-secondary mt-3" onclick="toggleMute()">Unmute/Resume Sound</button>

    <script>
        const myVideo = document.getElementById('myVideo');
        function toggleMute() {
            myVideo.muted = !myVideo.muted;
        }
    </script>
</section>
<%- include('Partials/footer'); -%>
