<%- include('Partials/header'); -%>
<%- include('Partials/main_nav'); -%>
    <!--main content-->
    <main class="container text-start py-5">
        <div id="home" class="d-flex flex-column">
            <span class="fw-bold mb-3" style="color: #4b8ac1; font-size: 2.5rem;">Hello,</span>
            <span class="fw-bold mb-3" style="color: #4b8ac1; font-size: 2.5rem;">My Name is</span>
            <span class="fw-bold mb-2" style="color: #3b4ba2; font-size: 2.5rem;">Tala Bashanfar</span>
            <p class="text-dark mb-3" style="font-weight: normal; font-size: 1.1rem;">
                Tech Strategist | IT Project Manager | Innovation Enthusiast
            </p>
        </div>
    </main>
<%- include('Partials/footer'); -%>